solutions/mpa_ShiftPlanner/Workflows/GetStaffModeTable-8A16B3E8-DD31-EF11-8409-00224830E634.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_MicrosoftPowerAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "930d43c4-725f-4f40-b56c-777adf2b52f1"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "date": {
                  "title": "weekStart",
                  "type": "string",
                  "format": "date",
                  "x-ms-dynamically-added": true,
                  "description": "Start date of week.",
                  "x-ms-content-hint": "DATE"
                },
                "text": {
                  "title": "zoneName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Zone name of the current view.",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "date",
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_aggregated_staff_bookings": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "17d9a49c-0433-4b09-ad91-1c849feccc9c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mpa_shiftplanner_shiftbookings",
              "fetchXml": "<fetch xmlns:generator='MarkMpn.SQL4CDS'>\n  <entity name='mpa_shiftplanner_shiftbooking'>\n    <attribute name='mpa_resource' />\n    <attribute name='mpa_date' />\n    <link-entity name='mpa_shiftplanner_teamposition' to='mpa_teamposition' from='mpa_shiftplanner_teampositionid' alias='p' link-type='inner'>\n      <attribute name='mpa_role' />\n      <link-entity name='mpa_shiftplanner_shiftteam' to='mpa_shiftteam' from='mpa_shiftplanner_shiftteamid' alias='t' link-type='inner'>\n        <attribute name='mpa_zone' />\n        <attribute name='mpa_name' />\n        <link-entity name='mpa_shiftplanner_shifttype' to='mpa_shifttype' from='mpa_shiftplanner_shifttypeid' alias='st' link-type='inner'>\n          <attribute name='mpa_name' />\n        </link-entity>\n        <filter>\n          <condition attribute='mpa_zonename' operator='eq' value='@{triggerBody()['text']}' />\n        </filter>\n      </link-entity>\n    </link-entity>\n    <filter>\n      <condition attribute='mpa_date' operator='ge' value='@{triggerBody()['date']}' />\n      <condition attribute='mpa_date' operator='le' value='@{addDays(triggerBody()['date'],6)}' />\n      <condition attribute='statecode' operator='eq' value='0' />\n    </filter>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "Get bookings of which each user affiliated with the specified zone has shifts on for each of their teams and roles"
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4ba57fa6-edf0-42a0-bc6d-6230b7be3291"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "results": "@{outputs('Get_aggregated_staff_bookings')?['body/value']}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "title": "Results",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Get_aggregated_staff_bookings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "339d0b41-926d-47e5-b4d1-d42c7f6db701"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Bookings",
                "type": "array",
                "value": "@outputs('Get_aggregated_staff_bookings')?['body/value']"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}