solutions/mpa_ShiftPlanner/Workflows/PopulateShiftBookingTable-FA711A33-5D1D-EF11-840A-000D3A9D8D48.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "mpa_MicrosoftPowerAcceleratorDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_Team_position_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 7,
              "subscriptionRequest/entityname": "mpa_shiftplanner_teamposition",
              "subscriptionRequest/scope": 4
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "conditions": [],
          "metadata": {
            "operationMetadataId": "9ad60364-fb9b-4eaf-87c9-276db9c3f0ab"
          }
        }
      },
      "actions": {
        "Get_Number_of_Days": {
          "type": "Compose",
          "description": "Get the number of days when the Team Position is effective",
          "inputs": "@div(sub(ticks(formatDateTime(triggerOutputs()?['body/mpa_effectiveto'],'yyyy-MM-dd')),ticks(triggerOutputs()?['body/mpa_effectivefrom'])),864000000000)",
          "runAfter": {
            "Initialize_varDayCount": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1cf8c1b6-6878-41ce-b47c-dab8c64df62b"
          }
        },
        "Initialize_varNumberOfDays": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varNumberOfDays",
                "type": "integer"
              }
            ]
          },
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7bc2bb3b-e022-4022-a25b-f4e0fb77059a"
          }
        },
        "Initialize_varDayCount": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varDayCount",
                "type": "integer",
                "value": 0
              }
            ]
          },
          "runAfter": {
            "Initialize_varNumberOfDays": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f35be6d2-87b9-4f8c-8a9c-68a0aea39a39"
          }
        },
        "Set_varNumberOfDays": {
          "type": "SetVariable",
          "inputs": {
            "name": "varNumberOfDays",
            "value": "@add(outputs('Get_Number_of_Days'), 1)"
          },
          "runAfter": {
            "Get_Number_of_Days": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "47f6abdb-7a9d-4dda-af00-3555fc276c27"
          }
        },
        "Get_Shift_Team_by_ID": {
          "type": "OpenApiConnection",
          "description": "Get Shift Team name using lookup value",
          "inputs": {
            "parameters": {
              "entityName": "mpa_shiftplanner_shiftteams",
              "recordId": "@triggerOutputs()?['body/_mpa_shiftteam_value']",
              "$expand": "mpa_shifttype"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Delete_related_Shift_Booking": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "42c88ae2-afa5-4303-876b-f900f986f667"
          }
        },
        "Get_Related_Shift_Booking": {
          "type": "OpenApiConnection",
          "description": "Get shift bookings that are assigned with the modified team position",
          "inputs": {
            "parameters": {
              "entityName": "mpa_shiftplanner_shiftbookings",
              "$filter": "_mpa_teamposition_value eq '@{triggerOutputs()?['body/mpa_shiftplanner_teampositionid']}' and statuscode ne 865420003"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Set_varNumberOfDays": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e833a888-a14f-45df-807a-9effe0c53044"
          }
        },
        "Delete_related_Shift_Booking": {
          "type": "Foreach",
          "foreach": "@outputs('Get_Related_Shift_Booking')?['body/value']",
          "actions": {
            "Delete_a_row": {
              "type": "OpenApiConnection",
              "description": "Deleting old shift booking item",
              "inputs": {
                "parameters": {
                  "entityName": "mpa_shiftplanner_shiftbookings",
                  "recordId": "@items('Delete_related_Shift_Booking')?['mpa_shiftplanner_shiftbookingid']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "DeleteRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "metadata": {
                "operationMetadataId": "ce0314fc-fd4c-48d6-9957-5ee94ab8ec28"
              }
            }
          },
          "runAfter": {
            "Get_Related_Shift_Booking": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3fed097c-e87d-437a-a76d-a40f3ab80df0"
          }
        },
        "Compose": {
          "type": "Compose",
          "description": "Check if team position resource is empty or not",
          "inputs": "@if(\r\n\tnot(empty(triggerOutputs()?['body/_mpa_resource_value'])), \r\n'Not empty', \r\n'empty')",
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "69b97ebe-8c24-462e-be13-8f0f4deb45ab"
          }
        },
        "Insert_shift_Booking_records": {
          "type": "Until",
          "expression": "@equals(variables('varDayCount'), variables('varNumberOfDays'))",
          "limit": {
            "count": 60,
            "timeout": "PT1H"
          },
          "actions": {
            "Increment_variable": {
              "type": "IncrementVariable",
              "inputs": {
                "name": "varDayCount",
                "value": 1
              },
              "runAfter": {
                "Is_this_weekday_included": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "865579a1-ef06-4dbd-90f9-eaaf4264dc17"
              }
            },
            "Is_this_weekday_included": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "contains": [
                      "@outputs('Get_Shift_Team_by_ID')?['body/mpa_shifttype/mpa_daysincluded']",
                      "@string(add(dayOfWeek(addDays( triggerOutputs()?['body/mpa_effectivefrom'], variables('varDayCount'))),1))"
                    ]
                  }
                ]
              },
              "actions": {
                "Add_a_new_row": {
                  "type": "OpenApiConnection",
                  "description": "Add new shift booking items as per the updated team position",
                  "inputs": {
                    "parameters": {
                      "entityName": "mpa_shiftplanner_shiftbookings",
                      "item/mpa_date": "@addDays(triggerOutputs()?['body/mpa_effectivefrom'], variables('varDayCount'))",
                      "item/mpa_name": "@{triggerOutputs()?['body/mpa_name']} - @{formatDateTime( adddays(triggerOutputs()?['body/mpa_effectivefrom'],variables('varDayCount')), 'yyyy-MM-dd')}",
                      "item/mpa_resource@odata.bind": "@if(equals(triggerOutputs()?['body/_mpa_resource_value'], null), triggerOutputs()?['body/_mpa_resource_value'], concat('/systemusers/',triggerOutputs()?['body/_mpa_resource_value']))",
                      "item/statuscode": 865420001,
                      "item/mpa_teamposition@odata.bind": "/mpa_shiftplanner_teampositions/@{triggerOutputs()?['body/mpa_shiftplanner_teampositionid']}",
                      "item/timezoneruleversionnumber": "@triggerOutputs()?['body/timezoneruleversionnumber']",
                      "item/utcconversiontimezonecode": "@triggerOutputs()?['body/utcconversiontimezonecode']",
                      "item/mpa_zone@odata.bind": "/mpa_shiftplanner_zones/@{outputs('Get_Shift_Team_by_ID')?['body/_mpa_zone_value']}"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "9c154cba-eb7b-44c8-ba58-cd35e5ec20e0"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "metadata": {
                "operationMetadataId": "f2c3bbdd-032c-4133-bdf9-cd24acf5fd46"
              }
            }
          },
          "runAfter": {
            "Get_Shift_Team_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "748bfcaa-78e7-4717-9fe4-4bcc9bb4ba26"
          }
        }
      },
      "description": "Flow that adds or updates an item in Shift Booking table when a Team Position is added or modified"
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}