solutions/mpa_ShiftPlanner/Workflows/SendCalendarInvite-F21A5FF0-202A-EF11-840A-0022482DADA3.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "mpa_MicrosoftPowerAcceleratorDataverse"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365_1": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "mpa_MicrosoftPowerAcceleratorsOutlook"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Shared Calendar Name (mpa_varcalendarname)": {
          "defaultValue": "Calendar",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_varcalendarname",
            "description": "To hold the calendar name for creating calendar invites"
          }
        },
        "Mobile App Link (mpa_varmobileapplink)": {
          "defaultValue": "https://apps.powerapps.com/play/e/6c086a94-f4d8-e980-a0a6-97486898031c/a/e89d7cd5-b535-43c3-b699-6d8a0739acf2",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_varmobileapplink",
            "description": "To hold the link to the Shift Planner mobile app"
          }
        }
      },
      "triggers": {
        "When_a_row_is_added": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "mpa_shiftplanner_emaillog",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/runas": 3
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "metadata": {
            "operationMetadataId": "45649c69-0f6f-4a0f-9402-b7555bebb82c"
          }
        }
      },
      "actions": {
        "Initialize_Calendar_ID": {
          "type": "InitializeVariable",
          "description": "Variable Calendar ID",
          "inputs": {
            "variables": [
              {
                "name": "Calendar ID",
                "type": "string"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "56e7da45-24b7-4895-b75e-e408d5f9e44e"
          }
        },
        "Initialize_InviteID": {
          "type": "InitializeVariable",
          "description": "Variable that holds Invite ID.",
          "inputs": {
            "variables": [
              {
                "name": "InviteID",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Initialize_Calendar_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "953c50a0-f3f3-4e60-9450-92c0b2409a36"
          }
        },
        "List_of_Calendars": {
          "type": "OpenApiConnection",
          "description": "Getting List of Available Calendars",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "operationId": "CalendarGetTables_V2",
              "connectionName": "shared_office365_1"
            }
          },
          "runAfter": {
            "Calculate_EventEndDateTime": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "44022528-c4ca-4fe1-a48a-4d005e17a697"
          }
        },
        "Loop_of_Name": {
          "type": "Foreach",
          "description": "Looping of Available Name",
          "foreach": "@outputs('List_of_Calendars')?['body/value']",
          "actions": {
            "Compose": {
              "type": "Compose",
              "inputs": "\n@{items('Loop_of_Name')?['name']}\n\n\n\n",
              "metadata": {
                "operationMetadataId": "c7d0c9b9-827b-42e7-a0d4-56822e72f2f1"
              }
            },
            "Condition": {
              "type": "If",
              "expression": {
                "equals": [
                  "@items('Loop_of_Name')?['name']",
                  "@parameters('Shared Calendar Name (mpa_varcalendarname)')"
                ]
              },
              "actions": {
                "Set_Calendar_ID": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Calendar ID",
                    "value": "@items('Loop_of_Name')?['id']"
                  },
                  "metadata": {
                    "operationMetadataId": "ac5867fe-8d03-4e6b-874b-ec5f94e32cdc"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "39938ad1-e6d4-45bc-9d2a-0bd0d376773e"
              }
            }
          },
          "runAfter": {
            "List_of_Calendars": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "549e1d1d-e74f-4ab1-b6e1-69bc78b4b2d0"
          }
        },
        "Compose_EventStartDateTime": {
          "type": "Compose",
          "inputs": "@concat(triggerOutputs()?['body/mpa_date'],'T',formatDateTime(outputs('Get_Shift_Type')?['body/mpa_startdate'], 'HH:mm:ss'))",
          "runAfter": {
            "Get_Timezone_Definition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6e87edac-e55c-48a3-8bab-1769b696a6dd"
          }
        },
        "Get_Team_Position": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "mpa_shiftplanner_teampositions",
              "recordId": "@triggerOutputs()?['body/_mpa_teamposition_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "runAfter": {
            "Get_Assigned_Resource": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e3eebbcb-b529-43ab-a22c-846f5fc929d5"
          }
        },
        "Get_Shift_Team": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "mpa_shiftplanner_shiftteams",
              "recordId": "@outputs('Get_Team_Position')?['body/_mpa_shiftteam_value']",
              "$expand": "mpa_zone($select=_mpa_facility_value)"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "runAfter": {
            "Get_Team_Position": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "98c48f8c-d1af-4c8c-8db9-460a06dbdb14"
          }
        },
        "Get_Shift_Type": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "mpa_shiftplanner_shifttypes",
              "recordId": "@outputs('Get_Shift_Team')?['body/_mpa_shifttype_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "runAfter": {
            "Get_Shift_Team": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dab37dd9-a69a-4fd5-b5d4-d69b493f840f"
          }
        },
        "Calculate_EventEndDateTime": {
          "type": "Expression",
          "kind": "AddToTime",
          "inputs": {
            "baseTime": "@body('Apply_Start_Offset_to_EventStartDateTime')",
            "interval": "@body('Get_Shift_Type')?['mpa_duration']",
            "timeUnit": "Minute"
          },
          "runAfter": {
            "Apply_Start_Offset_to_EventStartDateTime": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b93f7216-6b0d-4dcb-8782-0417d3e11882"
          }
        },
        "Get_Assigned_Resource": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@triggerOutputs()?['body/_mpa_resource_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "runAfter": {
            "Initialize_InviteID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fe6e3406-17f8-4977-b0b6-6c8ac88f344f"
          }
        },
        "Switch": {
          "type": "Switch",
          "expression": "@triggerOutputs()?['body/mpa_inviteaction']",
          "default": {
            "actions": {}
          },
          "cases": {
            "Invite_Action_Add": {
              "actions": {
                "Email_Template_for_new_Staff": {
                  "type": "OpenApiConnection",
                  "description": "Select email template for new staff",
                  "inputs": {
                    "parameters": {
                      "entityName": "mpa_shiftplanner_emailtemplates",
                      "$filter": "mpa_name eq 'When Staffed'",
                      "$top": 1
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "06468255-740e-473d-8a3a-3e15f2f7cad4"
                  }
                },
                "Apply_to_each_New_Staff_Template": {
                  "type": "Foreach",
                  "foreach": "@outputs('Email_Template_for_new_Staff')?['body/value']",
                  "actions": {
                    "Create_and_Send_Add_Staff_Calendar_Invite": {
                      "type": "OpenApiConnection",
                      "description": "Create and Send Add Staff Calendar Invite",
                      "inputs": {
                        "parameters": {
                          "table": "@variables('Calendar ID')",
                          "item/subject": "@items('Apply_to_each_New_Staff_Template')?['mpa_subject']",
                          "item/start": "@body('Apply_Start_Offset_to_EventStartDateTime')",
                          "item/end": "@body('Calculate_EventEndDateTime')",
                          "item/timeZone": "@replace(first(outputs('Get_Timezone_Definition')?['body/value'])['userinterfacename'], 'GMT', 'UTC')",
                          "item/requiredAttendees": "@outputs('Get_Assigned_Resource')?['body/internalemailaddress']",
                          "item/body": "<p>@{replace(\r\n    replace(\r\n        replace(\r\n            replace(\r\n                replace(\r\n                    replace(\r\n                        replace(items('Apply_to_each_New_Staff_Template')?['mpa_body'],\r\n                        '[Shift Type]',\r\n                        triggerOutputs()?['body/mpa_shifttype']),\r\n                    '[Date]',\r\n                    triggerOutputs()?['body/mpa_date']),\r\n                '[Zone]',\r\n                triggerOutputs()?['body/mpa_zone']),\r\n            '[Team]',\r\n            triggerOutputs()?['body/mpa_team']),\r\n        '[Position]',\r\n        triggerOutputs()?['body/mpa_role']),\r\n    '[Start Time]',\r\n    formatDateTime(outputs('Compose_EventStartDateTime'),'h:mm tt')),\r\n'[End Time]',\r\nformatDateTime(body('Calculate_EventEndDateTime'),'h:mm tt'))} <a href=\"@{parameters('Mobile App Link (mpa_varmobileapplink)')}\"> Shift Planner Mobile Application</a>.</p>"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "operationId": "V4CalendarPostItem",
                          "connectionName": "shared_office365_1"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "d5ef934f-617c-4dfe-85fc-ec858811e4ee"
                      }
                    },
                    "Set_created_add_staff_event_id_to_InviteID": {
                      "type": "SetVariable",
                      "description": "Set variable created add staff event id to InviteID",
                      "inputs": {
                        "name": "InviteID",
                        "value": "@outputs('Create_and_Send_Add_Staff_Calendar_Invite')?['body/id']"
                      },
                      "runAfter": {
                        "Create_and_Send_Add_Staff_Calendar_Invite": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "92446328-c8ae-4c89-9a13-1e2e09c39bc0"
                      }
                    },
                    "Update_row_in_Email_Logs_Add_Staff": {
                      "type": "OpenApiConnection",
                      "description": "Update row in Email Logs Add Staff",
                      "inputs": {
                        "parameters": {
                          "entityName": "mpa_shiftplanner_emaillogs",
                          "recordId": "@triggerOutputs()?['body/mpa_shiftplanner_emaillogid']",
                          "item/mpa_calendarid": "@variables('Calendar ID')",
                          "item/mpa_calendarinviteid": "@variables('InviteID')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "connectionName": "shared_commondataserviceforapps_1"
                        }
                      },
                      "runAfter": {
                        "Set_created_add_staff_event_id_to_InviteID": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "2d0fd801-35c7-4b66-b583-22afc19dad89"
                      }
                    }
                  },
                  "runAfter": {
                    "Email_Template_for_new_Staff": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ada74b99-7ce4-44e4-ba57-e4655a2f8489"
                  }
                }
              },
              "case": 1
            },
            "Invite_Action_Unpublished": {
              "actions": {
                "Get_Calendar_and_Invite_IDs": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "mpa_shiftplanner_emaillogs",
                      "$select": "mpa_calendarid, mpa_calendarinviteid",
                      "$filter": "_mpa_teamposition_value eq '@{triggerOutputs()?['body/_mpa_teamposition_value']}' and mpa_date eq \n@{triggerOutputs()?['body/mpa_date']} and _mpa_resource_value eq '@{triggerOutputs()?['body/_mpa_resource_value']}' and mpa_inviteaction eq 1",
                      "$orderby": "modifiedon desc",
                      "$top": 1
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "eea7bc16-57ed-44be-b699-8d8c87cfdfe6"
                  }
                },
                "Set_Calendar_ID_to_Remove": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Calendar ID",
                    "value": "@{first(body('Get_Calendar_and_Invite_IDs')?['value'])?['mpa_calendarid']}"
                  },
                  "runAfter": {
                    "Get_Calendar_and_Invite_IDs": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2d4dac4c-7adc-4306-9d3b-068f2d9e128a"
                  }
                },
                "Set_Invite_ID_to_Remove": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "InviteID",
                    "value": "@{first(body('Get_Calendar_and_Invite_IDs')?['value'])?['mpa_calendarinviteid']}"
                  },
                  "runAfter": {
                    "Set_Calendar_ID_to_Remove": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b119ff7c-0951-4f72-b79b-ea7683b6c192"
                  }
                },
                "Delete_Calendar_Invite_for_Published": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "calendar": "@variables('Calendar ID')",
                      "event": "@variables('InviteID')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                      "operationId": "CalendarDeleteItem_V2",
                      "connectionName": "shared_office365_1"
                    }
                  },
                  "runAfter": {
                    "Set_Invite_ID_to_Remove": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "829f7922-1927-475c-864e-46d0aebd64ea"
                  }
                }
              },
              "case": 2
            },
            "Invite_Action_Remove": {
              "actions": {
                "Get_Calendar_and_Invite_IDs_to_be_Removed": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "mpa_shiftplanner_emaillogs",
                      "$select": "mpa_calendarid, mpa_calendarinviteid",
                      "$filter": "_mpa_teamposition_value eq '@{triggerOutputs()?['body/_mpa_teamposition_value']}' and  mpa_date eq @{triggerOutputs()?['body/mpa_date']} and _mpa_resource_value eq '@{triggerOutputs()?['body/_mpa_resource_value']}' and mpa_inviteaction eq 1",
                      "$orderby": "modifiedon desc",
                      "$top": 1
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "0bb6bae4-3b2e-4222-a18f-be4e791d16a6"
                  }
                },
                "Set_Calendar_ID_to_be_Removed": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Calendar ID",
                    "value": "@{first(body('Get_Calendar_and_Invite_IDs_to_be_Removed')?['value'])?['mpa_calendarid']}"
                  },
                  "runAfter": {
                    "Apply_to_each_Remove_Staff_Template": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e0862ff2-244d-45b2-9217-0b1b3ae2c595"
                  }
                },
                "Set_Invite_ID_to_be_Removed": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "InviteID",
                    "value": "@{first(body('Get_Calendar_and_Invite_IDs_to_be_Removed')?['value'])?['mpa_calendarinviteid']}"
                  },
                  "runAfter": {
                    "Set_Calendar_ID_to_be_Removed": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e8a587a9-5f14-4cb9-a6d5-fbb58dd789d7"
                  }
                },
                "Delete_Calendar_Invite_for_Remove_Staff": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "calendar": "@variables('Calendar ID')",
                      "event": "@variables('InviteID')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                      "operationId": "CalendarDeleteItem_V2",
                      "connectionName": "shared_office365_1"
                    }
                  },
                  "runAfter": {
                    "Set_Invite_ID_to_be_Removed": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b02a1c53-d0b9-47c9-8000-e2a4391c4a2f"
                  }
                },
                "Email_Template_for_remove_Staff": {
                  "type": "OpenApiConnection",
                  "description": "Select email template for remove staff",
                  "inputs": {
                    "parameters": {
                      "entityName": "mpa_shiftplanner_emailtemplates",
                      "$filter": "mpa_name eq 'When Removed from Position'",
                      "$top": 1
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps_1"
                    }
                  },
                  "runAfter": {
                    "Get_Calendar_and_Invite_IDs_to_be_Removed": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b4e7660c-bc97-4ca3-8e07-13fdf406d31f"
                  }
                },
                "Apply_to_each_Remove_Staff_Template": {
                  "type": "Foreach",
                  "foreach": "@outputs('Email_Template_for_remove_Staff')?['body/value']",
                  "actions": {
                    "Send_an_email_to_remove_Staff": {
                      "type": "OpenApiConnection",
                      "description": "Send email notification for newly added Staff",
                      "inputs": {
                        "parameters": {
                          "emailMessage/To": "@outputs('Get_Assigned_Resource')?['body/internalemailaddress']",
                          "emailMessage/Subject": "@items('Apply_to_each_Remove_Staff_Template')?['mpa_subject']",
                          "emailMessage/Body": "<p>@{replace(\r\n    replace(\r\n        replace(\r\n            replace(\r\n                replace(items('Apply_to_each_Remove_Staff_Template')?['mpa_body'],\r\n                '[shift type]',\r\n                triggerOutputs()?['body/mpa_shifttype']),\r\n            '[position]',\r\n            triggerOutputs()?['body/mpa_role']),\r\n        '[team]',\r\n        triggerOutputs()?['body/mpa_team']),\r\n    '[zone]',\r\n    triggerOutputs()?['body/mpa_zone']),\r\n'[date]',\r\ntriggerOutputs()?['body/mpa_date'])}</p>",
                          "emailMessage/Importance": "Normal"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "operationId": "SendEmailV2",
                          "connectionName": "shared_office365_1"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "242f8400-9374-4312-a44e-a1ddc1b556f7"
                      }
                    }
                  },
                  "runAfter": {
                    "Email_Template_for_remove_Staff": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "670a97eb-c32d-46a5-88d1-b1e43164076c"
                  }
                }
              },
              "case": 3
            }
          },
          "runAfter": {
            "Loop_of_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4de1dfd7-c241-4bf8-9fab-b32b77809b83"
          }
        },
        "Apply_Start_Offset_to_EventStartDateTime": {
          "type": "Expression",
          "kind": "AddToTime",
          "inputs": {
            "baseTime": "@outputs('Compose_EventStartDateTime')",
            "interval": "@if(equals(body('Get_Team_Position')?['mpa_starttimeoffset'], null), 0, body('Get_Team_Position')?['mpa_starttimeoffset'])",
            "timeUnit": "Minute"
          },
          "runAfter": {
            "Compose_EventStartDateTime": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3979f793-1daa-4448-8046-1a975e748995"
          }
        },
        "Get_Facility": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "mpa_shiftplanner_facilities",
              "recordId": "@body('Get_Shift_Team')?['mpa_zone']?['_mpa_facility_value']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "runAfter": {
            "Get_Shift_Type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bfba336a-8a5d-40e4-a48d-c2ecb99f1240"
          }
        },
        "Get_Timezone_Definition": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "timezonedefinitions",
              "$filter": "timezonecode eq @{body('Get_Facility')?['mpa_timezone']}"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps_1"
            }
          },
          "runAfter": {
            "Get_Facility": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3d5f92fd-844e-45b6-a337-45128d24dfd0"
          }
        }
      },
      "description": "Flow that sends or removes calendar invite for the assigned user's shift. It is triggered every time a shift has been added to the Email Logs table."
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}