solutions/mpa_ShiftPlanner/Workflows/SwapInitialApproval-C38693A8-F531-EF11-8409-00224830E634.json
{
  "properties": {
    "connectionReferences": {
      "shared_conversionservice_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_MicrosoftPowerAcceleratorContentConversion"
        },
        "api": {
          "name": "shared_conversionservice"
        }
      },
      "shared_approvals_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_MicrosoftPowerAcceleratorApprovals"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_MicrosoftPowerAcceleratorDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "mpa_MicrosoftPowerAcceleratorsOutlook"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Mobile App Link (mpa_varmobileapplink)": {
          "defaultValue": "https://apps.powerapps.com/play/e/028b3a63-7645-ee3d-8ade-b5d058c29617/a/9bc194bd-7b8f-4d5b-a1d9-200bedcc7273?tenantId=fe2dcd3b-6648-414a-8c8e-8761944769ce&sourcetime=1718776648314",
          "type": "String",
          "metadata": {
            "schemaName": "mpa_varmobileapplink",
            "description": "To hold the link to the Shift Planner mobile app"
          }
        }
      },
      "triggers": {
        "When_a_Change_Request_is_added": {
          "metadata": {
            "operationMetadataId": "fe408499-a074-499d-8373-620c4ac14cfd"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "mpa_shiftplanner_changerequest",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "mpa_changetype eq 2"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Apply_to_Template_(1_result)": {
          "foreach": "@outputs('Select_Email_Template')?['body/value']",
          "actions": {
            "Email_Template_Body_Html_to_text": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ccebcc4b-d5d3-461b-a954-ff7c09c93576"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_conversionservice_1",
                  "operationId": "HtmlToText",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_conversionservice"
                },
                "parameters": {
                  "Content": "<p>@{items('Apply_to_Template_(1_result)')?['mpa_body']}</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Change_Request_Approval": {
              "runAfter": {
                "Parse_email_body_part_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "05af927f-80cc-4225-8e73-aff84d4388f0"
              },
              "type": "OpenApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connectionName": "shared_approvals_1",
                  "operationId": "StartAndWaitForAnApproval",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
                },
                "parameters": {
                  "approvalType": "Basic",
                  "WebhookApprovalCreationInput/title": "@items('Apply_to_Template_(1_result)')?['mpa_subject']",
                  "WebhookApprovalCreationInput/assignedTo": "@{outputs('Get_new_resource_information')?['body/internalemailaddress']};ralph.dixel.garro@roomsofthehouse.com",
                  "WebhookApprovalCreationInput/details": "@outputs('Parse_email_body_part_2')",
                  "WebhookApprovalCreationInput/requestor": "@outputs('Select_related_shift_booking_record')?['body/mpa_resource/internalemailaddress']",
                  "WebhookApprovalCreationInput/enableNotifications": true,
                  "WebhookApprovalCreationInput/enableReassignment": true
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Parse_email_body": {
              "runAfter": {
                "Email_Template_Body_Html_to_text": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5d3b9e6d-012c-4b30-ac47-6b1cfa7ff746"
              },
              "type": "Compose",
              "inputs": "@replace(\r\n    replace(\r\n        replace(\r\n            replace(\r\n                replace(\r\n                    replace(\r\n                        replace(\r\n                            replace(\r\n                                replace(body('Email_Template_Body_Html_to_text'), \r\n                                '[Position]', \r\n                                outputs('Select_from_Team_Position')?['body/_mpa_role_value@OData.Community.Display.V1.FormattedValue']),\r\n                            '[Requestor Resource]',\r\n                            outputs('Select_related_shift_booking_record')?['body/_mpa_resource_value@OData.Community.Display.V1.FormattedValue']),\r\n                        '[Date]',\r\n                        outputs('Select_related_shift_booking_record')?['body/mpa_date@OData.Community.Display.V1.FormattedValue']),\r\n                    '[Reason]',\r\n                    triggerOutputs()?['body/mpa_reason']),\r\n                '[Zone]',\r\n                outputs('Select_related_shift_booking_record')?['body/_mpa_zone_value@OData.Community.Display.V1.FormattedValue']),\r\n            '[Shift Type]',\r\n            outputs('Select_from_Shift_Team')?['body/mpa_shifttype/mpa_name']),\r\n        '[Start Time]',\r\n        formatDateTime(outputs('Select_from_Shift_Team')?['body/mpa_shifttype/mpa_startdate'],'h:mm tt')),\r\n    '[End Time]',\r\n    formatDateTime(outputs('Select_from_Shift_Team')?['body/mpa_shifttype/mpa_enddate'],'h:mm tt')),\r\n'[Team]',\r\noutputs('Select_from_Team_Position')?['body/_mpa_shiftteam_value@OData.Community.Display.V1.FormattedValue'])"
            },
            "Pending_Approval_Condition": {
              "actions": {
                "Select_Updated_Change_Request_For_Outcome_Approve": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "1287fe0b-70d7-42cf-b04d-914464d739dc"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps_1",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "mpa_shiftplanner_changerequests",
                      "recordId": "@triggerOutputs()?['body/mpa_shiftplanner_changerequestid']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition_to_check_if_cancelled_for_outcome_approve": {
                  "actions": {},
                  "runAfter": {
                    "Select_Updated_Change_Request_For_Outcome_Approve": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Update_Change_Request_Approved": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "11de180d-33c4-476b-9cd9-eb349935c66e"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "UpdateRecord",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "mpa_shiftplanner_changerequests",
                            "recordId": "@triggerOutputs()?['body/mpa_shiftplanner_changerequestid']",
                            "item/mpa_isapproved": true,
                            "item/mpa_finalapproval": true,
                            "item/statuscode": 865420006
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Select_Email_Template_swap_approved_by_partner": {
                        "runAfter": {
                          "Update_Change_Request_Approved": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "b3d8d867-679f-422d-80e3-586edf62760d"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_commondataserviceforapps_1",
                            "operationId": "ListRecords",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                          },
                          "parameters": {
                            "entityName": "mpa_shiftplanner_emailtemplates",
                            "$filter": "mpa_name eq 'Swap Shift Request to Swap Partner Approved'",
                            "$top": 1
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Apply_to_each_Swap_Approved_by_partner": {
                        "foreach": "@outputs('Select_Email_Template_swap_approved_by_partner')?['body/value']",
                        "actions": {
                          "Send_an_email_(V2)_-_Swap_Approved": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "2f11d4e8-9c96-4ca7-b033-372b9466608b"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_office365_1",
                                "operationId": "SendEmailV2",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                              },
                              "parameters": {
                                "emailMessage/To": "@{outputs('Select_related_shift_booking_record')?['body/mpa_resource/internalemailaddress']};",
                                "emailMessage/Subject": "@items('Apply_to_each_Swap_Approved_by_partner')?['mpa_subject']",
                                "emailMessage/Body": "<p>@{replace(\r\n    replace(\r\n        replace(\r\n            replace(\r\n                replace(\r\n                    replace(\r\n                        replace(\r\n                            replace(\r\n                                replace(\r\n                                    replace(\r\n                                        replace(\r\n                                            replace(\r\n                                                replace(\r\n                                                    replace(\r\n                                                        replace(\r\n                                                            replace(\r\n                                                                items('Apply_to_each_Swap_Approved_by_partner')?['mpa_body'],\r\n                                                                '[Position]', \r\n                                                                outputs('Select_from_Team_Position')?['body/_mpa_role_value@OData.Community.Display.V1.FormattedValue']\r\n                                                            ),\r\n                                                            '[Partner Resource]', \r\n                                                             Outputs('Get_new_resource_information')?['body/fullname']\r\n                                                        ),\r\n                                                        '[Date]', \r\n                                                        outputs('Select_related_shift_booking_record')?['body/mpa_date@OData.Community.Display.V1.FormattedValue']\r\n                                                    ),\r\n                                                    '[Reason]', \r\n                                                    triggerOutputs()?['body/mpa_reason']\r\n                                                ),\r\n                                                '[Zone]', \r\n                                                outputs('Select_related_shift_booking_record')?['body/_mpa_zone_value@OData.Community.Display.V1.FormattedValue']\r\n                                            ),\r\n                                            '[Shift Type]', \r\n                                            outputs('Select_from_Shift_Team')?['body/mpa_shifttype/mpa_name']\r\n                                        ),\r\n                                        '[Start Time]', \r\n                                        formatDateTime(outputs('Select_from_Shift_Team')?['body/mpa_shifttype/mpa_startdate'], 'h:mm tt')\r\n                                    ),\r\n                                    '[End Time]', \r\n                                    formatDateTime(outputs('Select_from_Shift_Team')?['body/mpa_shifttype/mpa_enddate'], 'h:mm tt')\r\n                                ),\r\n                                '[Team]', \r\n                                outputs('Select_from_Team_Position')?['body/_mpa_shiftteam_value@OData.Community.Display.V1.FormattedValue']\r\n                            ),\r\n                            '[New Date]', \r\n                            outputs('Select_replacement_shift_booking_record')?['body/mpa_date@OData.Community.Display.V1.FormattedValue']\r\n                        ),\r\n                        '[New Zone]', \r\n                        outputs('Select_replacement_shift_booking_record')?['body/_mpa_zone_value@OData.Community.Display.V1.FormattedValue']\r\n                    ),\r\n                    '[New Shift Type]', \r\n                    outputs('Select_New_Shift_Team')?['body/mpa_shifttype/mpa_name']\r\n                ),\r\n                '[New Start Time]', \r\n                formatDateTime(outputs('Select_New_Shift_Team')?['body/mpa_shifttype/mpa_startdate'], 'h:mm tt')\r\n            ),\r\n            '[New End Time]', \r\n            formatDateTime(outputs('Select_New_Shift_Team')?['body/mpa_shifttype/mpa_enddate'], 'h:mm tt')\r\n        ),\r\n        '[New Team]', \r\n        outputs('Select_New_Team_Position')?['body/_mpa_shiftteam_value@OData.Community.Display.V1.FormattedValue']\r\n    ),\r\n    '[New Position]', \r\n    outputs('Select_New_Team_Position')?['body/_mpa_role_value@OData.Community.Display.V1.FormattedValue']\r\n)\r\n}<a href=\"@{parameters('Mobile App Link (mpa_varmobileapplink)')}\">Shift Planner Mobile Application</a>.</p>",
                                "emailMessage/Importance": "Normal"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        },
                        "runAfter": {
                          "Select_Email_Template_swap_approved_by_partner": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "7bb1d37e-8059-4fdc-a637-e085fafdf3fa"
                        },
                        "type": "Foreach"
                      },
                      "Run_a_Child_Flow": {
                        "runAfter": {
                          "Apply_to_each_Swap_Approved_by_partner": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "7156982b-aa01-4de3-a8fe-4b8f0d08fa52"
                        },
                        "type": "Workflow",
                        "inputs": {
                          "host": {
                            "workflowReferenceName": "79679cd6-1732-ef11-8409-00224830e634"
                          },
                          "body": {
                            "text": "@triggerOutputs()?['body/mpa_shiftplanner_changerequestid']"
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@outputs('Select_Updated_Change_Request_For_Outcome_Approve')?['body/statuscode']",
                      865420005
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8ee99ae3-9b8c-41ed-a5c5-4c3c6d08dd32"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Change_Request_Approval": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Select_Updated_Change_Request_For_Outcome_Denied": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "ff794e81-cb04-488e-9ded-b48c3faf9ff7"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps_1",
                        "operationId": "GetItem",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "mpa_shiftplanner_changerequests",
                        "recordId": "@triggerOutputs()?['body/mpa_shiftplanner_changerequestid']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Condition_to_check_if_cancelled_for_outcome_denied": {
                    "actions": {},
                    "runAfter": {
                      "Select_Updated_Change_Request_For_Outcome_Denied": [
                        "Succeeded"
                      ]
                    },
                    "else": {
                      "actions": {
                        "Update_Change_Request_Denied": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "aff3052f-3383-4b03-9c79-59d057a91381"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "UpdateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "mpa_shiftplanner_changerequests",
                              "recordId": "@triggerOutputs()?['body/mpa_shiftplanner_changerequestid']",
                              "item/mpa_isapproved": false,
                              "item/statuscode": 865420003
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Update_Shift_Booking_-_replace_resource_denied": {
                          "runAfter": {
                            "Update_Change_Request_Denied": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a2f2ae1f-ae85-4764-b660-2dda92b88e8f"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "UpdateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "mpa_shiftplanner_shiftbookings",
                              "recordId": "@triggerOutputs()?['body/_mpa_shiftbooking_value']",
                              "item/mpa_workflowstatus": false
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Update_Shift_Booking_-_replace_new_resource_denied": {
                          "runAfter": {
                            "Update_Shift_Booking_-_replace_resource_denied": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a2f2ae1f-ae85-4764-b660-2dda92b88e8f"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "UpdateRecord",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "mpa_shiftplanner_shiftbookings",
                              "recordId": "@triggerOutputs()?['body/_mpa_swapwith_value']",
                              "item/mpa_workflowstatus": false
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Select_Email_Template_swap_rejected": {
                          "runAfter": {
                            "Update_Shift_Booking_-_replace_new_resource_denied": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "b3d8d867-679f-422d-80e3-586edf62760d"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_commondataserviceforapps_1",
                              "operationId": "ListRecords",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                            },
                            "parameters": {
                              "entityName": "mpa_shiftplanner_emailtemplates",
                              "$filter": "mpa_name eq 'Swap Shift Request to Shift Partner Denied'",
                              "$top": 1
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Apply_to_each_Swap_Rejected_template": {
                          "foreach": "@outputs('Select_Email_Template_swap_rejected')?['body/value']",
                          "actions": {
                            "Send_an_email_(V2)_-_Swap_rejected": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "2f11d4e8-9c96-4ca7-b033-372b9466608b"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_office365_1",
                                  "operationId": "SendEmailV2",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                                },
                                "parameters": {
                                  "emailMessage/To": "@outputs('Select_related_shift_booking_record')?['body/mpa_resource/internalemailaddress']",
                                  "emailMessage/Subject": "@items('Apply_to_each_Swap_Rejected_template')?['mpa_subject']",
                                  "emailMessage/Body": "<p>@{replace(\r\nreplace(\r\n    replace(\r\n        replace(\r\n            replace(\r\n                replace(\r\n                    replace(\r\n                            replace(\r\nreplace(\r\n    replace(\r\n        replace(\r\n            replace(\r\n                replace(\r\n                    replace(\r\n                        replace(\r\n                            replace(\r\n                                replace(items('Apply_to_each_swap_Rejected_template')?['mpa_body'], \r\n                                '[Position]', \r\n                                outputs('Select_from_Team_Position')?['body/_mpa_role_value@OData.Community.Display.V1.FormattedValue']),\r\n                            '[Resource]',\r\n                            outputs('Select_related_shift_booking_record')?['body/_mpa_resource_value@OData.Community.Display.V1.FormattedValue']),\r\n                        '[Date]',\r\n                        outputs('Select_related_shift_booking_record')?['body/mpa_date@OData.Community.Display.V1.FormattedValue']),\r\n                    '[Reason]',\r\n                    triggerOutputs()?['body/mpa_reason']),\r\n                '[Zone]',\r\n                outputs('Select_related_shift_booking_record')?['body/_mpa_zone_value@OData.Community.Display.V1.FormattedValue']),\r\n            '[Shift Type]',\r\n            outputs('Select_from_Shift_Team')?['body/mpa_shifttype/mpa_name']),\r\n        '[Start Time]',\r\n        formatDateTime(outputs('Select_from_Shift_Team')?['body/mpa_shifttype/mpa_startdate'],'h:mm tt')),\r\n    '[End Time]',\r\n    formatDateTime(outputs('Select_from_Shift_Team')?['body/mpa_shifttype/mpa_enddate'],'h:mm tt')),\r\n'[Team]',\r\noutputs('Select_from_Team_Position')?['body/_mpa_shiftteam_value@OData.Community.Display.V1.FormattedValue']\r\n)\r\n                                ,\r\n                                '[New Date]',\r\n                                outputs('Select_replacement_shift_booking_record')?['body/mpa_date@OData.Community.Display.V1.FormattedValue']\r\n                            ),\r\n                        '[New Zone]',\r\n                        outputs('Select_replacement_shift_booking_record')?['body/_mpa_zone_value@OData.Community.Display.V1.FormattedValue']\r\n                    ),\r\n                    '[New Shift Type]',\r\n                    outputs('Select_New_Shift_Team')?['body/mpa_shifttype/mpa_name']\r\n                ),\r\n            '[New Start Time]',\r\n            formatDateTime(outputs('Select_New_Shift_Team')?['body/mpa_shifttype/mpa_startdate'],'h:mm tt')\r\n            ),\r\n        '[New End Time]',\r\n        formatDateTime(outputs('Select_New_Shift_Team')?['body/mpa_shifttype/mpa_enddate'],'h:mm tt')\r\n        ),\r\n        '[New Team]',\r\n        outputs('Select_New_Team_Position')?['body/_mpa_shiftteam_value@OData.Community.Display.V1.FormattedValue']\r\n    ),\r\n    '[New Position]', \r\n    outputs('Select_New_Team_Position')?['body/_mpa_role_value@OData.Community.Display.V1.FormattedValue']\r\n),\r\n'[Partner Resource]',\r\n outputs('Get_new_resource_information')?['body/fullname'])}<a href=\"@{parameters('Mobile App Link (mpa_varmobileapplink)')}\">Shift Planner Mobile Application</a>.</p>",
                                  "emailMessage/Importance": "Normal"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {
                            "Select_Email_Template_swap_rejected": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "5df5da10-d30d-4105-9db1-1d4cb0401689"
                          },
                          "type": "Foreach"
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@outputs('Select_Updated_Change_Request_For_Outcome_Denied')?['body/statuscode']",
                        865420005
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "5c6b272e-33ca-41a2-8114-e4e54e6b5b44"
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "equals": [
                  "@outputs('Change_Request_Approval')?['body/outcome']",
                  "Approve"
                ]
              },
              "metadata": {
                "operationMetadataId": "c36bb8fc-133c-4710-a993-6c0c9878bf1a"
              },
              "type": "If"
            },
            "Parse_email_body_part_2": {
              "runAfter": {
                "Parse_email_body": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6e16bf3f-5f14-4d81-b40f-68aebba5a1c9"
              },
              "type": "Compose",
              "inputs": "@replace(\r\nreplace(\r\n    replace(\r\n        replace(\r\n            replace(\r\n                replace(\r\n                    replace(\r\n                            replace(\r\n                                outputs('Parse_email_body'),\r\n                                '[Partner Date]',\r\n                                outputs('Select_replacement_shift_booking_record')?['body/mpa_date@OData.Community.Display.V1.FormattedValue']\r\n                            ),\r\n                        '[Partner Zone]',\r\n                        outputs('Select_replacement_shift_booking_record')?['body/_mpa_zone_value@OData.Community.Display.V1.FormattedValue']\r\n                    ),\r\n                    '[Partner Shift Type]',\r\n                    outputs('Select_New_Shift_Team')?['body/mpa_shifttype/mpa_name']\r\n                ),\r\n            '[Partner Start Time]',\r\n            formatDateTime(outputs('Select_New_Shift_Team')?['body/mpa_shifttype/mpa_startdate'],'h:mm tt')\r\n            ),\r\n        '[Partner End Time]',\r\n        formatDateTime(outputs('Select_New_Shift_Team')?['body/mpa_shifttype/mpa_enddate'],'h:mm tt')\r\n        ),\r\n        '[Partner Team]',\r\n        outputs('Select_New_Team_Position')?['body/_mpa_shiftteam_value@OData.Community.Display.V1.FormattedValue']\r\n    ),\r\n    '[Partner Position]', \r\n    outputs('Select_New_Team_Position')?['body/_mpa_role_value@OData.Community.Display.V1.FormattedValue']\r\n),\r\n'[Partner Resource]',\r\n    Outputs('Get_new_resource_information')?['body/fullname']\r\n)"
            }
          },
          "runAfter": {
            "Select_Email_Template": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9f491831-c676-4927-8e4d-38b14e6bba4f"
          },
          "type": "Foreach"
        },
        "Select_related_shift_booking_record": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "254ad6ac-523d-4712-9641-a8c316226e6b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mpa_shiftplanner_shiftbookings",
              "recordId": "@triggerOutputs()?['body/_mpa_shiftbooking_value']",
              "$expand": "mpa_resource($select=internalemailaddress)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Role_Name": {
          "runAfter": {
            "Select_New_Shift_Team": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f5e9f7a2-0869-4c8b-adc1-4eba638bcb1d"
          },
          "type": "Compose",
          "inputs": "@outputs('Select_from_Team_Position')?['body/_mpa_role_value@OData.Community.Display.V1.FormattedValue']"
        },
        "Select_Email_Template": {
          "runAfter": {
            "Get_new_resource_information": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b3d8d867-679f-422d-80e3-586edf62760d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mpa_shiftplanner_emailtemplates",
              "$filter": "mpa_name eq 'Swap Shift Request to Swap Partner'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Select_replacement_shift_booking_record": {
          "runAfter": {
            "Select_from_Shift_Team": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "254ad6ac-523d-4712-9641-a8c316226e6b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mpa_shiftplanner_shiftbookings",
              "recordId": "@triggerOutputs()?['body/_mpa_swapwith_value']",
              "$expand": "mpa_resource($select=internalemailaddress)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Select_from_Team_Position": {
          "runAfter": {
            "Select_related_shift_booking_record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1c2f074c-96e1-4794-a196-78d3e7a461f0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mpa_shiftplanner_teampositions",
              "recordId": "@outputs('Select_related_shift_booking_record')?['body/_mpa_teamposition_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Select_from_Shift_Team": {
          "runAfter": {
            "Select_from_Team_Position": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1c2f074c-96e1-4794-a196-78d3e7a461f0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mpa_shiftplanner_shiftteams",
              "recordId": "@outputs('Select_from_Team_Position')?['body/_mpa_shiftteam_value']",
              "$expand": "mpa_shifttype, "
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Select_New_Team_Position": {
          "runAfter": {
            "Select_replacement_shift_booking_record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1c2f074c-96e1-4794-a196-78d3e7a461f0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mpa_shiftplanner_teampositions",
              "recordId": "@outputs('Select_replacement_shift_booking_record')?['body/_mpa_teamposition_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Select_New_Shift_Team": {
          "runAfter": {
            "Select_New_Team_Position": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1c2f074c-96e1-4794-a196-78d3e7a461f0"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "mpa_shiftplanner_shiftteams",
              "recordId": "@outputs('Select_New_Team_Position')?['body/_mpa_shiftteam_value']",
              "$expand": "mpa_shifttype, "
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_new_resource_information": {
          "runAfter": {
            "Get_Role_Name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "228f5b34-6747-499b-aec3-1aa25081d81c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@triggerOutputs()?['body/_mpa_newresource_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}